<div>
<p>{{status}} :</p>
 {# {% if offre is defined %}
     {{offre.get_title}} :
     {{offre.get_description}}
     {% if offre is not defined %}
     <form method="post" action="creer_offre">
     <input type="text" name="title" placeholder="titre"/>
     <input type="text" name="description" placeholder="description"/>
     </form>
{% endif %} #}
</div>