#nav {
  background-color: rgb(19, 2, 2);
}
#nav a {
  color: aliceblue;
}
h2 {
  font-weight: bold;
  color: black;
}
#defaultCheck1 {
  margin-top: 11px;
}
#creer-compte {
  color: cyan;
  margin-top: 25px;
  padding: 10px;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliders {
  font-size: 1.5vw;
}
.navbar-toggler-icon {
  background-color: aliceblue;
}
.account-creation-error {
  color: red;
}
