{% if status is not defined %}
CREER VOTRE COMPTE<br><br>
<div>
  <form action="creer_users" method='POST' >
     Adresse mail:<br><br>
      <input type='text' name='email'><br><br>
     Mot de passe :<br><br>
      <input type='text' name='password'><br><br>
     Saisir à nouveau votre mot de passe :<br><br>
      <input type='text' name='password'><br><br>
         <input type='submit' value='Valider'/><br><br>
  </form>

 {% else %}
 
<p>{{status}} :</p>

{% if creerU is defined %}
     {{creerU.get_email}} :
     {{creerU.get_password}}
{% endif %}

{% endif %}
</div>







  