<hr><footer>
       <div>
       <a href="films"> Liste des films </a>
      </div>
      <div>
       <a href="creer_film"> Ajouter un film </a>
       </div>
       <div>
       <a href="creer_users">  Connexion </a>
       </div>
        
</footer>
</body>
</html>