<!DOCTYPE html>
<html lang="fr">
<head>
        <title>MVC with Twig</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./view/web/css/base.css" media="screen" />
        <link rel="shortcut icon" href="view/web/img/favicon.ico" />
</head>
<body>
<header>
      TP FILM   
       <div>
       <a href="films"> Liste des films </a>
      </div>
      <div>
       <a href="creer_film"> Ajouter un film </a>
       </div>
       <div>
       <a href="users">  Connexion </a>
       </div>

        
</header><hr>