<div class="alert alert-secondary" role="alert">
                <h2>Rechercher un film</h2>
                <p>Saisir un mot du titre</p>
                <br>
                <form action="search" method="post" class="row g-3">
                        <div class="col-auto">
                                <label for="inputPassword2" class="visually-hidden">Search</label>
                                <input name="search" type="text" class="form-control" id="inputPassword2" placeholder="Search">
                        </div>
                        <div class="col-auto">
                                <button type="submit" class="btn btn-secondary mb-3">Rechercher</button>
                        </div>
                </form>        
        </div>
        <br>