<br>

<div class="container" style="height: 70vh;">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Profil</h4>
      <p>Paramétrez votre profil ici.</p>
    
    </div>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Réglages</h4>
      <p>Vous voici dans la zone de réglages.</p>
    
    </div>
</div>